.logoSearch{
    display: flex;
    gap: 1.12rem;
}

.search{
    display: flex;
    background-color: var(--inputColor);
    border-radius: 10px;
    padding: 0.6rem;
}

.search>input{
    background-color: transparent;
    border: none;
    outline: none;
}

.s-icon{
    display: flex;
    align-items: center;
    justify-content: center;
   background-image: linear-gradient(to left bottom, #257af9, #2c62e0, #304ac7, #3232ad, #311693);
    /* background: linear-gradient(106.23deg, #f99827); */
    border-radius: 5px;
    padding: 4px;
    color:white;
}

.s-icon:hover{
    cursor: pointer;
}