.profileCard{
   border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    overflow-x: clip;
    background: var(--cardColor); 
    padding-bottom: 1.6rem;      
}

.profileImgs{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coverImg{
    width: 100%;
}

.profileImg{
    width: 9.6rem;
    border-radius: 50%;
    position: absolute;
    bottom: -4.8rem;
    box-shadow: var(--profileShadow);    
}

.profileName{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4.8rem;
    gap: 10px;
}

.profileName>span:nth-of-type(1){
    font-weight: bold;
}

.followStatus{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
}

.followStatus>hr{
    width: 85%;
    border: 1px solid var(--hrColor);
}

.followStatus>div{
    display: flex;
    gap: 1.6rem;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}

.follow{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    align-items: center;
    justify-content: center;
}

.follow>span:nth-of-type(1){
    font-weight: bold;
}

.follow>span:nth-of-type(2){
    color:var(--gray);
    size: 1.3rem;
}

.vl{
    height: 50px;
     border-left: 2px solid var(--hrColor);
}

.profileCard > span{
    font-weight: bold;
    
    background-image: var(--buttonBg);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    --webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    align-self: center;
    margin-bottom: 1rem;
    cursor: pointer;
}



