.App{
  overflow: hidden;
  color: var(--black);
  background-color: #f3f3f3;
  padding: 1.6rem 1.6rem;
}

.blur{
  position: absolute;
  width: 35.2rem;
  height: 22.4rem;
  border-radius: 50%;
  background-color: #a6ddf0;
 filter: blur(72px);
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: none;
  border-radius: 0.8rem;
  background: var(--buttonBg);
  transition: all 1s ease;
}

.btn:hover{
  cursor: pointer;
  color: var(--blue);
  background: transparent;
  border: 2px solid var(--blue);
}

::-webkit-scrollbar{
  display: none;
}

