@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
  --yellow: #f5c32c;
  --blue: #360880;
  --black: #242d49;
  --gray: rgba(36, 45, 73, 0.65);
  --profileShadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
  --hrColor: #cfcdcd;
  --cardColor: rgba(255, 255, 255, 0.64);
  --buttonBg: linear-gradient(to left bottom, #257af9, #2c62e0, #304ac7, #3232ad, #311693);
  --inputColor: rgba(40, 52, 62, 0.07);
  --photo: #4CB256;
  --video: #4A4EB7;
  --location: #EF5757;
--shedule: #E1AE4A;

}

html{
    font-size: 62.5%;
}

*, *::before, *::after{
   margin:0;
   padding: 0;
  
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
}